<div class="no-page-found-container ">
    <div class="">
        <img class="mrg-90" src="../../assets/image/404error.gif" [height]="nofoundPageObj.imgHeight" [width]="nofoundPageObj.imgwidth">
    </div>
    <div class="element-absolute col-wheat element-top col-md-4 col-xs-4 col-xl-4">
        <button type="sub" class="btn btn-light fr" (click)="redirectToHomePage()">Home Page</button> 
    </div>
    <div class="element-absolute col-wheat element-top col-md-4 col-xs-4 col-xl-4 marg-per-50">
        <h3 class="">The page you are looking for was moved, removed,<br>
            renamed or might never existed.</h3>
    </div>
    <!-- <div class="col-md-3 col-xs-3 col-xl-3 fr">
        <h3 class="">The page you are looking for was moved, removed,<br>
            renamed or might never existed.</h3>
        </div>
        <div class="col-md-3 col-xs-3 col-xl-3 fr"></div>
        <div class="col-md-3 col-xs-3 col-xl-3 ">
        </div>
        <div class="col-md-3 col-xs-3 col-xl-3 fr"></div> -->
</div>